.ProductsContainer {
    display: flex;
    flex-direction: column;
  }

.ProductsActionInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.PageInfo h2 {
  margin: 0;
  font-size: 1em;
}

.DetailsInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline-start: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.8em;
}

.ProductsActionInfo p {
  margin: 0px 0px 0px 20px;
}

.Products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.OrderSubmission {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.OrderSubmission p:first-child {
  margin-left: 0px;
}