.ManageProduct label {
    display: inline-block;
    text-align: right;
}

.ManageProduct h2 {
    font-size: 1.0em;
    text-align: left;
  }

.ManageProduct .ProductImageContainer {
    width: 150px;
    height: 100px;
    margin-inline-start: auto;
}

/* https://www.geeksforgeeks.org/resize-image-proportionally-with-css/ */
.ManageProduct .ProductImageContainer img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.ManageProduct form label {
    margin-right: 20px;
    vertical-align: top;
}

.ManageProduct form textarea {
    height: 75px;
    width: 75%;
    margin-inline-start: auto;
}

.TextAreaSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.PriceSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

input[type=text] {
    margin-inline-start: auto;
    width: 10%; 
}

.Filler {
    width:75%;
}

