.Admin nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.Admin h2 {
  font-size: 1.0em;
  text-align: left;
}

.ProductsContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
