nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  nav a {
    margin: auto;
  }

  .Admin h1{
    text-align: center;
    margin-bottom: 10px;
  }

  .ProductsContainer {
    display: flex;
    flex-direction: row;
     }