
.AppNav {
  display: flex;
  flex-direction: column;
  }

  hr{
    width: 100%;
  }

.AppNav div {
  display: flex;
  flex-direction: row;
}

.AppNav a {
  margin: auto;
}

h1 {
  width: 60%;
  margin: auto;
}