.App {
  margin: 20px;
}

.App header {
  display: flex;
  flex-direction: column;
}

.App header div {
  display: flex;
  flex-direction: row;
}

.App header a {
  margin: auto;
}

.App header hr {
  width: 100%;
}
