.App {
  margin: auto;
  width: 80%;
}

.App header {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.App .HeaderInfo {
  display: flex;
  flex-direction: row;
}

.App .SiteTitle {
  font-family: 'Fontdiner Swanky', cursive;
}

.App .SiteNav {
  margin-inline-start: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.App header hr {
  width: 100%;
}
